<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/contacts.css" />
  <title>Browser</title>
</head>

<body>
<div>
  <link href="./contacts.css" rel="stylesheet" />
  <div class="home-container">
    <img
      alt="image"
      src="static/images/hostel logo.png"
      class="home-image"
    />
    <img
      alt="image"
      src="static/images/marina-reich-HYZLZYJfkIk-unsplash.jpg"
      class="home-image1"
    />
    <span class="home-text"><a href="{{ url_for('aboutus') }}">About us</a></span>
    <div class="home-container1"></div>
    <span class="home-text01">
      <span><a href="{{ url_for('studentbook') }}">Student Bookings</a></span>
      <br />
    </span>
    <span class="home-text04">
      <span><a href="{{ url_for('hostelRooms') }}">Hostel Rooms</a></span>
      <br />
    </span>
    <span class="home-text07">
      <span><a href="{{ url_for('reserve') }}">PAYEMENT</a></span>
      <br />
    </span>
    <span class="home-text10">
      <span><a href="{{url_for('contacts') }}">Contacts</a></span>
      <br />
    </span>
    <span class="home-text13">
      <span><a href="{{url_for('studentinfo') }}">Student Information</a></span>
      <br />
    </span>
    <img alt="image" src="static/images/1.png" class="home-image2" />
    <img alt="image" src="static/images/2.png" class="home-image3" />
    <img alt="image" src="static/images/4.png" class="home-image4" />
    <img alt="image" src="static/images/3.png" class="home-image5" />
    <img alt="image" src="static/images/5.png" class="home-image6" />
    <img alt="image" src="static/images/6.png" class="home-image7" />
    <img alt="image" src="static/images/7.png" class="home-image8" />
    <span class="home-text16">
      <span>Name: Arjun Mehta</span>
      <br />
      <br />
      <span>Phone no: 91 9874 563210</span>
      <br />
      <br />
      <span>E-Mail: Mainhostelmanager@gmail.com</span>
      <br />
    </span>
    <span class="home-text25">
      <span>Name: Ishan Kumar</span>
      <br />
      <br />
      <span>Phone no: 91 986 1556123</span>
      <br />
      <br />
      <span>E-Mail: HMS@gmail.com</span>
      <br />
    </span>
    <span class="home-text34">
      <span>Name: Chandan Kar</span>
      <br />
      <br />
      <span>Phone no: 91 9861 85475</span>
      <br />
      <br />
      <span>E-Mail: HMA@gmail.com</span>
      <br />
    </span>
    <span class="home-text43">
      <span>Name: Veer Sharma</span>
      <br />
      <br />
      <span>Phone no: 91 85756 35789</span>
      <br />
      <br />
      <span>E-Mail: HMB@gmail.com</span>
      <br />
    </span>
    <span class="home-text52">
      <span>Name: Shankar Chopra</span>
      <br />
      <br />
      <span>Phone no: 91 85756 00225</span>
      <br />
      <br />
      <span>E-Mail: HMC@gmail.com</span>
      <br />
    </span>
    <span class="home-text61">
      <span>Name: Harpreet Singh</span>
      <br />
      <br />
      <span>Phone no: 91 78451 33354</span>
      <br />
      <br />
      <span>E-Mail: HCveg@gmail.com</span>
      <br />
    </span>
    <span class="home-text70">
      <span>Name: Amandeep Singh</span>
      <br />
      <br />
      <span>Phone no: 91 89645 25743</span>
      <br />
      <br />
      <span>E-Mail: HCnonveg@gmail.com</span>
      <br />
    </span>
  </div>
</div>

</body>

</html>