<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/hostelmngmt.css" />
  <title>Browser</title>
</head>

<body>
<div>
  <link href="./home.css" rel="stylesheet" />
  <div class="home-container">
    <img
      alt="image"
      src="static/images/hostel logo.png"
      class="home-image"
    />
    <img
      alt="image"
      src="static/images/marina-reich-HYZLZYJfkIk-unsplash.jpg"
      class="home-image1"
    />
    <span class="home-text"><a href="{{ url_for('aboutus') }}">About us</a></span>
    <div class="home-container1"></div>
    <span class="home-text01">
      <span><a href="{{ url_for('studentinfo') }}">Student Information</a></span>
      <br />
    </span>
    <span class="home-text04">
      <span><a href="{{ url_for('hostelRooms') }}">Hostel Rooms</a></span>
      <br />
    </span>
    <span class="home-text07">
      <span><a href="{{ url_for('reserve') }}">Reservation</a></span>
      <br />
    </span>
    <span class="home-text10">
      <span><a href="{{url_for('contacts') }}">Contacts</a></span>
      <br />
    </span>
    <span class="home-text13">
      <span><a href="{{url_for('hostelmngmt') }}">Hostel Management</a></span>
      <br />
    </span>
    <img alt="image" src="static/images/1.png" class="home-image2" />
    <img alt="image" src="static/images/2.png" class="home-image3" />
    <img alt="image" src="static/images/3.png" class="home-image4" />
    <img alt="image" src="static/images/4.png" class="home-image5" />
    <img alt="image" src="static/images/5.png" class="home-image6" />
    <img alt="image" src="static/images/6.png" class="home-image7" />
    <img alt="image" src="static/images/7.png" class="home-image8" />
    <span class="home-text16">ISHAN KUMAR</span>
    <span class="home-text17">VEER SHARMA</span>
    <span class="home-text18">SHANKAR CHOPRA</span>
    <span class="home-text19">CHANDAN KAR</span>
    <span class="home-text20">HARPREET SINGH</span>
    <span class="home-text21">AMANDEEP SINGH</span>
    <span class="home-text22">ARJUN MEHTA</span>
    <span class="home-text23">
      <span>Main manager of the Hostel</span>
      <br />
    </span>
    <span class="home-text26">
      <span>Manager of Hostel S</span>
      <br />
    </span>
    <span class="home-text29">
      <span>Manager of Hostel B</span>
      <br />
    </span>
    <span class="home-text32">
      <span>Manager of Hostel C</span>
      <br />
    </span>
    <span class="home-text35">
      <span>Non-Vegetarian</span>
      <br />
      <span>cook</span>
    </span>
    <span class="home-text39">
      <span>Vegetarian</span>
      <br />
      <span>cook</span>
    </span>
    <span class="home-text43">
      <span>Manager of Hostel A</span>
      <br />
    </span>
  </div>
</div>

</body>

</html>