<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script type="text/javascript">
      var m={{ messages|safe }};
      for(var i=0;i<m.length;i++)
      {
        alert(m[i]);
      }
    </script>
  {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/hostelrooms.css" />
  <title>Browser</title>
</head>

<body>
  <div>
    <!-- <link href="./home.css" rel="stylesheet" /> -->
    <div class="home-container">
      <img alt="image" src="static/images/hostel logo.png" class="home-image" />
      <img alt="image" src="static/images/marina-reich-HYZLZYJfkIk-unsplash.jpg" class="home-image1" />
      <span class="home-text"><a href="{{ url_for('aboutus') }}">About us</a></span>
      <div class="home-container1"></div>
      <span class="home-text01">
        <span><a href="{{ url_for('studentbook') }}">Student Bookings</a></span>
        <br />
      </span>
      <span class="home-text04">
        <span><a href="{{ url_for('hostelRooms') }}">Hostel Rooms</a></span>
        <br />
      </span>
      <span class="home-text07">
        <span><a href="{{ url_for('reserve') }}">PAYEMENT</a></span>
        <br />
      </span>
      <span class="home-text10">
        <span><a href="{{url_for('contacts') }}">Contacts</a></span>
        <br />
      </span>
      <span class="home-text13">
        <span><a href="{{url_for('studentinfo') }}">Student Information</a></span>
        <br />
      </span>
      <span class="home-text16">Hostel Management System</span>
      <span class="home-text17">Restaurant</span>
      <span class="home-text18">Block S</span>
      <span class="home-text19">Block A</span>
      <span class="home-text20">
        <span>1. Two sharing bed</span>
        <br />
        <span>2. Kent Auro </span>
        <br />
        <span>3. Water heater</span>
        <br />
        <span>4. Personal cupboards</span>
        <br />
        <span>5. AC</span>
        <br />
        <span>6. TV</span>
        <br />
        <span>7. Wifi</span>
        <br />
      </span>
      <span class="home-text35">
        <span>1. Three sharing bed</span>
        <br />
        <span>2. Kent Auro </span>
        <br />
        <span>3. Water heater</span>
        <br />
        <span>4. Personal cupboards</span>
        <br />
        <span>5. Wifi</span>
        <br />
        <span>6. TV</span>
        <br />
        <br />
      </span>
      <span class="home-text49">
        <span>1. 10 sharing bed</span>
        <br />
        <span>2. Personal drovers</span>
        <br />
        <span>3. Kent Auro </span>
        <br />
        <span>4. AC</span>
        <br />
        <span>5. Wifi</span>
        <br />
      </span>
      <span class="home-text60">
        <span>1. Four sharing bed</span>
        <br />
        <span>2. Personal cupboards</span>
        <br />
        <span>3. Kent Auro </span>
        <br />
        <span>4. Fan</span>
        <br />
        <span>5. Wifi</span>
        <br />
      </span>
      <span class="home-text71">Block C</span>
      <span class="home-text72">Veg Cafetaria</span>
      <span class="home-text73">
        <span>Non Veg</span>
        <br />
        <span>Cafetaria</span>
      </span>
      <span class="home-text77">Block B</span>
      <img src="static/images/2sharing.jpg" alt="image" class="home-image2" />
      <img src="static/images/hostel-in-nice-hostel-baccarat-nice-officiel-3-bed-private-room.webp" alt="image"
        class="home-image3" />
      <img src="static/images/2sharing2.jpg" alt="image" class="home-image4" />
      <img src="static/images/3b3097d2a2eeabd4207e66a3314fa5d8.jpg" alt="image" class="home-image5" />
      <img src="static/images/mess.jpg" alt="image" class="home-image6" />
      <img src="static/images/hostel-mess.jpg" alt="image" class="home-image7" />
    </div>
    <div class="food_details">
      <div class="food"> FOOD DETAILS </div>
      <form action="{{url_for('hostelRooms')}}" method = 'post'>
        <input type="text" name='usn' placeholder='USN' class="usn" />
        <input type="text" name='hostelno' placeholder='Hostel No' class="hostel" />
        <input type="text" name='roomno' placeholder='Room No' class="room" />
        <input type="text" name='name' placeholder='Student name' class="name" />
        <input type="text" name='furniture' placeholder='furniture preference(extras)' class="fur" />
        <!-- <input type="text" name='foodchoice' placeholder='Food Choice veg/nonveg' class="food" /> -->
        <select class="home-select" name="food">
          <option value="Option 2">Veg</option>
          <option value="Option 2">Non-veg</option>
        </select>
        <button class="food_button">
          <span>
            <span>Submit</span>
            <br />
          </span>
        </button>
      </form>
    </div>
  </div>

</body>

</html>